/* #hero, */
/* #services, */
/* #Destinations,
#Bookatrip, */
/* #testimonials, */
/* #logo, */
/* #subscribe, */
/* #footer{ */
    

 /* máy tính */
@media  (min-width:1024px){
    .picture-selling{
        width: 100%;
    }

} 
/* may tinh bang  */
@media (max-width: 1023.5px){
    .vecto-none{
        display: none;
    }
    .font-s{
        top: 6%;
    }
    .picture-w{
        margin-top: 9rem;
    }
    .w-none{
        display: none;
    }
    
    .rec-book{
        top: 95px;
    }
    .tab-ser{
        top:4% !important;
    }
    .block-r{
        display: none;
        right: 3%;
        width: 45%;
    }
    .vector-r{
        right: 0;
    }
    .travel-r{
        left: 34px;
    }
    .g-w{
        width: 100%;
        
    }
    .ser-group{
        width: 90%;
    }
    .g-rec{
        width: 60px;
        left: -30px;
        top: 276px;
    }
    .w-tes{
        width: 90%;
    }
    .s-h{
        font-size: 47px;
    }
    .t-content{
        width: 412px;
    }
    .content-three{
        width: 400px;
    }
    .f-w{
        width: 90%;
    }
    .b-w{
        width: 81%;
    }
    .f-i{
        margin-left: 1rem; 
    }
   
    .ml-cus-85 {
        margin-left: 0px;
    }
    .rectangle-cate{
        transform: translate(5px, 27px);
    }
    .logo-w{
        width: 60%;
    }

    .logo img{
        width: 150px;
    }
    .block-center{
        position: absolute;
        top: 0;
        z-index: 4;
        text-align: center;
        width: 45rem;
    }
    #list-menu {
        line-height: 40px;
        background: white;
        display: none;
        position: absolute;
        top: 57px;
        z-index: 4;
        right: 0px;
        text-align: center;
        width: 50rem;
        padding-bottom: 24px;
    }
    .icon{
        width: 95%;
        display: flex;
        justify-content: flex-end;
    }
    .icon-g{
        display: block;
        font-size: 30px;
    }
    
    .block-right{
        display: none;
    }
    .block-cent{   
        display: block;
    }

    .block-r{
        display: none;
        right: 3%;
        width: 45%;
    }
    .content-left {
        width: 100%;
    }
    .btn-play-demo {
        justify-content: space-between;
    width: 50%;
    }

    
}

/* mobile */
@media  (max-width:740px){
    .sub-footer{
        order: 2;
        width: 30% !important;
    }
    .ft-1{               
        width: 50% !important;
    }
    .ft{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #list-menu {
      
        width: 15rem;
    }
    
    .content-sub{
        margin: 0 auto;
    }

    .content-c{
        width: 100%;
    } 
    .vecto-none{
        display: none;
    }
    .form-mail{
        margin: 0 auto;
    width: 228px;
    margin-bottom: 1rem
    }
    .form-subscribe{
        width: 180px;
        margin: 0 auto;
    }
    .form-sub{
        flex-direction: column;
    }
    .font-sub{
        font-size: 20px;
    line-height: 30px;
    }
    .mar-logo{
        margin-top: 16rem;
    }
    .t-content{
        width: 200px;
    }
    .picture-selling{
        flex-wrap: wrap;
        width: 58%;
        min-width: 314px;
    }
    .logo-five{
        flex-direction: column;
    }
    .w-none{
        display: none;
    }
    .block-rightt{
        width: auto;
    margin: 0 auto;
    }
    
    .logo-wid{    
        width: 105px !important;
    }
    .menu-center-width {
        width: 100%;
    }
    .font-tag{
        font-size: 27px;
    line-height: 36px;
    }
    .mob-jus{
        justify-content: center;
    }
    .poly{ 
        border-radius: 69px;
    }
    .play-font{
        
    }
    img, video {
        max-width: initial;
    }
    .w-o{
        font-size: 33px;
    line-height: 78px;
    }
    .cate{
        font-size: 40px;
    }
    .service{
        margin-top: 2rem;
        width: 51%;
    }
    .serv{
        width: 90%;
    }
    .w-ser{
        top: 1%;
    }
    .w-group{
        width: 109px;
    }
    .w-rectangle{
        width: 80px;
    }
    .des{
        margin-top: 68rem;
    }
    .destina{
        width: 100%;
    margin-bottom: 3rem;
    }
    .i-width{
    height: 315px;
    }
    .destinatin{
        height: 91px;
    }
    .font{
        font-size: 24px;
    }
    .s-h{
        font-size: 53px;
    }
    .choose-font{
        font-size: 31px;
    }
    .content{
        top: 0;
        left: 0;
    }
    .subscribee{
        height: 482px;
        
    }
    .font-subscribe{
        top: 14%;
    }
    .easy-and-content{
        flex-direction: column;
    }
    .lorem-heading{
        width: 240px;
    }
    .content-group{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .btn-play-demo {
       display: block;
       line-height: 70px;
       justify-content: space-between;
       width: 70%;
    }
    .btn-demo {
        margin-left: 0px;
        margin-right: 0px;
    }

}

/* mobile 700 */
/* @media (max-width: 739px){
    .top-n{
        width: 100%;
    }
    .b-r{
        right: 2%;
        width: 46%;
    }
    .b-c{
        width: 50%;
    }
    .c{
        bottom: 74px;
    }
    .tag{
        font-size: 26px;
    }
    .h{
        font-size: 65px;
    }
    .tr{
        left: 72px;
    }
    .vec{
        top: 221px;
        left: 205px;
    }
    .dec{
        width: 647px;
        top: 429px;
    }
    .btn-f{
        padding: 23px 31px 23px;
    }
    .p{
        top: 600px;
    }
    .p-de{
        width: 140px;
        font-size: 26px;
    }
    .w-o{
        font-size: 46px;
    }
    .de{
        width: 370px !important;
    }
    .ser{
        width: 50%;
        margin-bottom: 65px;
        margin-right: -35px;
    }
    .serr{
        width: 50%;
        margin-bottom: 65px;
    }
    .w-ser{
        width: 80%;
    }
    .ser-g{
        width: 80%;
        float: right;
    }
    .des{
        margin-top: 25rem;
    }
    .d{
        width: 100%;
    }
    .w-none{
        display: none;
    }
    .v-3{
        margin: 0 auto;
        padding-top: 13px;
    }
    .v-t{
        width: 60px;
        height: 60px;
    }
    .two{
        width: 311px;
        margin-top: 3rem;
    }
    .log{
        flex-wrap: wrap;
    }
    .font-subb{
        top: 3%;
        left: 13%;
        width: 78%;
    }
    .ff{
        font-size: 20px;
    }
    .subs{
        width: 134px;
        height: 66px;
    }
    .m{
        width: 307px
    }
    .footerr{
        width: 162px;
    }
    .ff{
        font-size: 17px;
    }
    .f-g{
        font-size: 15px;
    }
}  */