.bg-ffff{
    background: #ffff;
}
.w-full{
    width: 100%;
}
.logo{
    width: 20%;
}
/* img, video {
    max-width: initial;
} */
.jadoo{
    position: absolute;
    width: 114.91px;
    height: 33.99px;
    left: 140.92px;
    top: 48.7px;
}
.top-nav{
    width: 90%;
    margin: auto;
    position: relative;
    top: 47px;
    height: 40px;
}
/* .item-1 ul li{
    width: 60%;
    display: inline-flex;
    width: 100px;
    height: 22px;
    left: 478px;
    top: 10px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
}
.btn{
    font-size: 17px;
    font-family: 'Google Sans';
} */

.block-center {
    width: 80%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: end;
    font-family: 'Google Sans';    
    font-style: normal;
}
.block-center ul {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
}
.block-right {
    /* position: relative; */
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Google Sans';
    font-style: normal;
}

.ml-cus-85 {
    margin-left: 85px;
}
.btn-sign-up {
    border: 1px solid black;
    padding: 5px 10px 10px;
    border-radius: 5px;
}

.btn-sign-up:hover {
    background: #F1A501;
    border: 1px solid #ffffff;
    color: #ffffff;
}

/* HERO CONTANT */
.hero-content {
    width: 80%;
    margin: auto;
    margin-top: 6rem;
}
.content-left{
    width: 50%;
    font-family: 'Poppins';
    position: relative;
}
.poly-o{
    margin: 0 auto;
    padding-top: 18px;
}
.tagline{
    font-weight: 800;
    color: #DF6951;
}
.heading{
    font-family: 'Volkhov', serif;
    font-size: 75px;
    line-height: 84px;
    z-index: 1;
}
.decs{
    margin-top: 3rem;
    font-weight: 100;
    color: #5E6282;
}
.vector-1{
    position: absolute;
    top: 66px;
    right: -63px;
    z-index: -1;
}
.btn-find-out{
    border: 1px solid rgb(241 165 1);
    padding: 13px 20px 13px;
    border-radius: 5px;
    font-family: 'Google Sans';
    background-color: #F1A501;
    color: #ffffff;
    box-shadow: 0 30px 50px rgb(241 165 1 / 10%);
}
/* .btn-find-out:hover{
    background: #F1A501;
    border: 1px solid #ffffff;
    color: #ffffff;
} */
.polygon{
    box-shadow: 0 30px 70px rgb(241 165 1 / 10%);
    width: 52px;
    height: 52px;
    border-radius: 27px;
    background: #DF6951;
}
.p-demo{
    font-size: 17px;
    font-family: 'Poppins';
    color: #5E6282;
}
.decore{
    position: absolute;
    top: -80px;
    left: 736px;
}
.decore img {
    width: 766.31px;
}
.content-right{
    width: 60%;
    position: relative;
}
.travel{
    width: 765px;
    position: absolute;
}
.plane-l{
    position: absolute;
    top: 44px;
    right: 468px;
}
.plane-r{
    position: absolute;
    right: -37px;
    top: 63px;
}
.category{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
}
.nav-title {
    width: 90%;
    margin: auto;
    display: flex;
    position: relative;
}
.w-offer{
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
}
.rectangle{
    border-radius: 20px;
    height: 344px;
    background: #ffffff;
   
}
.rectangle:hover{
    box-shadow: 0 30px 70px rgb(241 165 1 /5%)

}
.rec-5{
    display: none;
}

.rectangle:hover .rec-5 {
    display: block;
}
.rec-1{
    top: 32px;
    right: 56px;
    
}
.star{
    position: absolute;
    top: 0;
    right: 0;
}
.calcul-w{
    font-weight: bold;
    font-size: 20px;
    color: #1E1D4C;
}
.b-wicket{
    line-height: 26px;
}
#services {
    margin-top: 8rem;
}
.group{
    width: 76%;
    margin: auto;
    height: 314px;
    text-align: center;
}
.built-w{
    width: 65%;
    margin: auto;
    font-size: 15px;
}
.calcul{
    margin-bottom: 10px;
    margin-top: 23px;
}
.g-1{
    top: 20%;
}
.rec-2{
    top: 3px;
    right: 104px;
}
.p-rec-2{
    bottom: 36px;
}
.fight{
    position: absolute;
    top: 75px
}
.rec-3{
    right:41%;
}
.rec-4{
    top: 23px;
    right: 59px;
}
.cus-4{
    width: 67%;
    margin: auto;
    font-size: 15px;
}
.rec-5{
    position: absolute;
    left: -50px;
    top: 280px;
    z-index: -1;
}
.t-sel{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
}
.t-des{
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
}
.img{
    z-index: 1;
}
.rec-6{
    width: 314px;
    height: 457px;
}
.rectangle-1{
    width: 315px;
    height: 130px;
    background: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 5px;
    margin-top: 8px;
}
.des-1{
    margin: auto;
    width: 314px;
    height: 457px
}
.rec-6:hover{
    box-shadow: 0 30px 70px rgb(65 139 98 / 10%);
}
.rome{
    font-family: Poppins;
    font-size: 15px;
    color: #5E6282;
    padding-left: 7px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.price-rome{
    font-family: Poppins;
    font-size: 15px;
    color: #5E6282;
    padding-left: 35px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.vector-2{
    left: 3.37%;
    top: 49.37%;   
    width: 13px;
   
}
.day-1{
    font-family: Poppins;
    font-size: 15px;
    padding-left: 12px;
    color: #5E6282;
}
.subheading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #5E6282;
}
.group-w{
    width: 90%;
    position: relative;
    margin: 0 auto;
}
.s-heading{
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
}
.vector-3{
   
    /* background: #F1A501; */
}
.vecto-3{
    padding: 12px;
}
.choose-heading{
    width: 161px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #5E6282;
}
.lorem-heading{
    width: 327px;
    height: 40px;
    margin-top:5px ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #5E6282;
}
.bg-f1a501{
    background-color: #F1A501;
}
.bg-df6951{
    background-color: #DF6951;
}
.bg-006380{
    background-color: #006380;
}
.rec-7{
    width: 370px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
    position: relative;
}
.pic{
    margin: 0 auto;
    padding-top: 1rem;
}
.trip-font{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #080809;
    padding-left: 1rem;
    padding-top: 12px
}
.robbin-font{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding-top: 1rem;
    padding-left: 1rem;
    color: #84829A;
}
.group-1{
    border-radius: 27px;
    background: #F5F5F5;
    width: 45px;
    height: 45px
}
.leaf{
    width: 21px;
    margin: auto;
    padding-top: 13px;
}
.group-p{
    width: 321px;
    margin: 0 auto;
    padding-top: 12px;
}
.town{
    width: 27px;
}
.town-n{
    padding-top: 17px;
    padding-left: 25px;
}
.font{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #84829A;
    line-height: 34px;
}
/* .box-o{
    position: absolute;
    width: 354px;
    height: 367px;
    left: 875px;
    top: 2436px;
    background: #59B1E6;
    opacity: 0.8;
    filter: blur(150px);
} */
.subheading-1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #5E6282;
}
.s-heading-1{
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
}
#testimonials-section {
    margin-top: 10rem;
}
.content {
    font-size: 16px;
    color: #5E6282;
    position: relative;
    border-radius: 8px;
    top: 32px;
    left: 28px;
    z-index: 1;

}
.content-1 {
    color: #5E6282;
}
.rectangle-2 {
    position: absolute;
    transform: translate(20px, 33px);
    z-index: 3;
}
.content-3 {
    position: absolute;
    left: 15%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    background: whitesmoke;
    border-radius: 8px;
    width: 502px;
    height: 232px;
    z-index: 2;
    top: 94px;
}
.two-content {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    color: #5E6282;
    padding: 20px;
    z-index: 3;
    border-radius: 10px;
    position: absolute;
    background: white;
    width: 504px;
    height: 245px;
}
.m{
    border-radius: 10px;
}
.img-logo{
    align-items: center;
}
.img-logo div {
    filter: grayscale(100%);
}
.img-logo div:hover {
    filter: grayscale(0%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.custom {
    position: absolute;
    top: 130px;
    right: 0;
}
.sub{
    margin: 0 auto;
    height: 407px;
    background: #DFD7F9;
    border-radius: 120px 20px 20px 20px;
    /* opacity: 0.2; */
}
.font-sub{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    color: #5E6282;
}
.mail{
    width: 421px;
    height: 68px;
    background: white;
    border-radius: 10px;
}
.subscribe{
    width: 180px;
    height: 68px;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
    text-align: center;
    padding-top: 1rem;
}
.ghim{
    width: 70px;
    height: 70px;
    background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
    border-radius: 38px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(37%, -48%);
}
.pla{
    margin: 0 auto;
    padding-top: 1rem;
}
.font-s{
    position: absolute;
    top: 25%;
    left: 14%;
    width: 73%;
}
.stars{
    top: 304px;
    right: -90px;
}
.jadoo-font{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
    color: #181E4B;
}
.font-book{
    margin-top: 19px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #5E6282;
}
.f{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;    
    color: #080809;
}
.nav-row{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5E6282;
    margin-top: 33px;
}
.fb{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
    border-radius: 50%;
    width: 41px;
    height: 41px;
}

.ig{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.f-dis{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 124.5%;
    letter-spacing: 0.005em;
    color: #5E6282;
    padding-left: 10px;
    margin-top: 26px;
}
.g-play{
    width: 107px;
    height: 35px;
    left: 1032px;
    top: 4553px;
    background: #080809;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-ter{
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    color: #5E6282;  
}
.bor{
    width: 354px;
height: 367px;
left: 875px;
top: 2436px;

background: #59B1E6;
opacity: 0.8;
filter: blur(150px);
}
.boxx{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #59B1E6;
    filter: blur(50px);
    opacity: 0.4;
    z-index: -1;
    top: 0;
    right: 0;
    transform: translate(60px, -40px);
}
